<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>modiasyfofront</display-name>

    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
            <name>SYFOFRONT_JSESSIONID</name>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <filter>
        <filter-name>decoratorFilter</filter-name>
        <filter-class>no.nav.sbl.modiasyfofront.SyfofrontDekorator</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>decoratorFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>syfofront.html</welcome-file>
    </welcome-file-list>

    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html;charset=UTF-8</mime-type>
    </mime-mapping>


    <servlet>
        <servlet-name>isAlive</servlet-name>
        <servlet-class>no.nav.sbl.modiasyfofront.IsAliveServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>isAlive</servlet-name>
        <url-pattern>/internal/isAlive</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/syfofront.html</location>
    </error-page>

</web-app>