.idea
*.iml
target
node_modules
*.log
npm-debug.log*
**/webapp/styles/**/*
**/webapp/img/**/*
**/webapp/js/**/*
**/webapp/vendor/**/*
**/webapp/*.html
web/src/frontend/img/modig-frontend/**/*
web/src/frontend/coverage
web/src/frontend/.nyc_output