<!DOCTYPE html>
<html lang="no">
<head>
    <title>Sykefravær</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="{{{decoratorRoot}}}/internarbeidsflatedecorator/js/head.min.js"></script>
</head>
<body>
    <div id="header"></div>
    <div id="maincontent" class="app-syfofront side-innhold">
        <div class="app-spinner blokk-xl" aria-label="Vent litt mens siden laster"></div>
    </div>

 <script>
        window.APP_SETTINGS = {
            "REST_ROOT": "{{{restRoot}}}",
            "TEKSTER_REST_ROOT": "{{{teksterRestRoot}}}",
            "TILGANGSKONTROLL_RESTROOT": "{{{tilgangskontrollRestRoot}}}",
            "MOTEADMIN_REST_ROOT": "{{{moteAdminRestRoot}}}",
            "OPPFOELGINGSDIALOGREST_ROOT": "{{{oppfoelgingsdialogRestRoot}}}",
            "VEILEDEROPPGAVERREST_ROOT": "{{{veilederoppgaverRestRoot}}}",
            "FASTLEGEREST_ROOT": "{{{fastlegerestRoot}}}",
            "CONTEXTHOLDER_ROOT": "{{{contextholderRoot}}}",
            "APP_ROOT": "/sykefravaer",
            {{#enableLogging}}"LOGGING_ENABLED": {{{enableLogging}}}{{/enableLogging}}
        };
    </script>
    <script src="{{{buildRoot}}}/{{{bundleFileName}}}?rev={{{timestamp}}}"></script>

</body>
</html>