<!DOCTYPE html>
<html lang="no">
<head>
    <title></title>
    <meta charset="UTF-8">
    <link href="{{{decoratorRoot}}}/internarbeidsflatedecorator/styles.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
    {{=<% %>=}}
    {{fragment.header-withmenu}}
    <%={{ }}=%>
    <div id="maincontent" class="app-syfofront">
        <div class="app-spinner blokk-xl" aria-label="Vent litt mens siden laster"></div>
    </div>
    <script>
        window.SYFO_SETTINGS = {
            "REST_ROOT": "{{{restRoot}}}",
            "WEBSOCKET_PROTOCOL": "{{{websocketProtocol}}}",
            "CONTEXTHOLDER_ROOT": "{{{contextholderRoot}}}"
        };
    </script>
    <script src="{{{buildRoot}}}/{{{bundleFileName}}}?rev={{{timestamp}}}"></script>
</body>
</html>