.epostinnhold__mottakere {    
    h3 {
        .mixin-typo-etikettLiten();
        .nedtonet;
        margin-bottom: .25rem;
    }
}

.epostinnhold__emne, .epostinnhold__innhold {
    padding: 1rem;
    border: 1px dashed @ikonGraa;
    background: lighen(@ikonGraa, 20%);
}

.epostinnhold__emne {
    margin-bottom: .5rem;
}

.epostinnhold__innhold {
    margin-bottom: 2rem;
}

.epostinnhold_infoboks {
  border: dashed 1px black;
  padding: 1rem;
}