.epostinnhold__mottakere {    
    h3 {
        .mixin-typo-etikettLiten();
        .nedtonet;
        margin-bottom: .25rem;
    }
}

.epostinnhold__emne, .epostinnhold__innhold {
    padding: 1rem;
    border: 1px dashed @ikonGraa;
    background: lighen(@ikonGraa, 20%);
}

.epostinnhold__emne {
    margin-bottom: .5rem;
}

.epostinnhold__innhold {
    margin-bottom: 2rem;
}

.epostinnhold_infoboks {
  border: dotted 1px #979797;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #ededed;
}

.epostinnhold_lenke {
  margin-right: 2em;
}

.epostinnhold__deltakere {
  margin-bottom: 2em;
}

.epostinnhold__kanaler {
  margin-bottom: 2em;
}

.epostinnhold__ikke-valgt {
  color: black;
}

.epostinnhold__knapp {
  padding: 0;
  border-bottom: solid 1px;
}

.epostinnhold_avgrensning_bunn {
  padding-bottom: 2rem;
  border-bottom: 1px solid @ikonGraa;
}

