.inngangspanelerHeader {
    .mixin-panel-padding(); 
    display: flex; 
    width: 100%;
    padding-top: 1.25em;
    padding-bottom: 1.25em; 
    margin-bottom: 1px; 
    display: flex;  
    background: @hvit;  
    margin-bottom: 1px; 
}

.inngangspanelerHeader__tittel {
    .mixin-typo-element(); 
    flex: 1;        
    margin: 0;
    align-self: center;
}

.inngangspanel:extend(.panel) {
    margin-bottom: 1px; 
    padding-right: 3em; 
    background-image: data-uri("../img/svg/pil-videre-graa.svg");
    background-repeat: no-repeat;
    background-position: 97% 2em; 
    background-size: 1em 1em; 
    transition: background-position ease-in-out .1s;
    transform: translate3d(0, 0, 0);
    display: flex; 
    width: 100%;
    color: @color-text;
    border-bottom-width: 0;

    &:hover, &:focus {
        position: relative; 
        z-index: 1;
    }

    &:visited {
        color: @color-text;
    }

    &:focus {
        background-color: @hvit;
        outline: 3px solid @fokusOrange;
    }

    &:hover {
        background-image: data-uri("../img/svg/pil-videre-blaa.svg");
        box-shadow: #ccc 0 0 4px 2px; /* hentet fra saksoversikt */
    }

    &:active, &:focus {
        .inngangspanel__undertekst {
            color: @aktivBlaa;
        }
    }

    p {
        margin-top: 0;
        margin-bottom: .5em;
        .mixin-typo-infotekst(); 
    }

    .inngangspanel__undertekst {
        .mixin-typo-normal();
    }

    .inngangspanel__tekst {
        margin-bottom: 1.25em;
    }

    @media(min-width: @skjermMini) {
        background-position: 97% 35px; 
    }
}

.inngangspanel__ikon {
    display: none; 
}

@media(min-width: @skjermMini) {
    .inngangspanel__innhold {
        flex: 1;

        .mute {
            color: @inaktivGraa;
        }
    }

    .inngangspanel__header {
        display: flex;

        h3 {
            flex: 1;
        }
    }
}

@media(min-width: @screen-medium) {

    .inngangspanel__ikon {
        display: block;
        align-self: flex-start;
        width: 2em;
        box-sizing: content-box;
        padding-right: 1em;

        img {
            width: 100%;
            height: auto; 
        }
    }
}

.inngangspanel__meta {
    .mixin-typo-normal(); 
    display: block; 
    margin-bottom: 8px; 
}

.inngangspanel__header h3 {
    margin: 0;
}

.inngangspanel__tittel {
    .mixin-typo-element(); 
    display: block; 
    margin: 0; 
    margin-bottom: 8px; 
    padding: 0; 
}

.inngangspanel__status {
    .mixin-typo-normal();
    margin-bottom: 8px;
}

.inngangspanel__punktliste {
    margin: 0; 
    padding-left: 1em; 
    line-height: 1.4;
}