a, button.lenke {
    color: @lenkeBlaa;
    text-decoration: none;
    border-bottom: 1px solid @inaktivGraa;
}

a:focus, button.lenke:focus {
    background-color: @fokusOrange;
    outline: none;
}

a:hover {
    border-color: @lenkeBlaa;
}

button.lenke {
    border: 0;
    border-bottom: 1px solid @inaktivGraa;
    padding: 0;
    background-color: transparent;
}