a {
    color: @color-link;
    text-decoration: none;
}

a:focus {
    background-color: @color-focus;
    outline: none;
}

.side-innhold a {
    border-bottom: 1px solid @color-border;

    &:hover {
        border-color: @color-link;
    }
}