.motestatus {
    width: 100%;

    .motestatus__tittel {
        .mixin-typo-undertittel();
        margin: 0 .5em;
    }

    th, td {
        padding: .5em .25em;
        width: 33.333333333%;
        text-align: center;

        &:first-child {
            text-align: left;
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }


    thead th, thead td {
        padding-top: 0;
    }

    thead, tbody tr {
        border-bottom: 1px solid @FargeBorder;
    }

    .motestatus__svar {
        text-align: center;
    }

    .motestatus__svar__inner {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 1em 0;
        border-left: 1px solid @FargeBorder;
    }

    strong {
        display: block;
        margin-bottom: .5em;
    }

}

.motestatus__ikon {
    width: 28px;
    height: 28px;
    margin-bottom: .5em;
}

.motestatus__svartekst {
    display: block;
    .mixin-typo-undertekst();
}

.motestatus__svartekst--ikkeSvart {
    color: #979797;
}

.motestatus__svartekst--kan {
    color: #06893A;
}

.motestatus__svartekst--kanikke {
    color: #D0021B;
}