.motetidspunkter {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.motetidspunkter--nyeTidspunkter {
  margin-bottom: 2em;
  border-top: 1px solid @ikonGraa;
  border-bottom: 1px solid @ikonGraa;
}

.motetidspunkter--besvarteTidspunkter {
  margin-bottom: 3em;
}

.svarstatus {
  padding: 2em 0;
  border-top: 1px solid @ikonGraa;
  border-bottom: 1px solid @ikonGraa;
  margin-bottom: 2em;
}

.motetidspunkt {
  list-style-type: none;
  margin: 0;
  padding: 1.5em 0;
}

.motetidspunkt--besvart {
  &:first-child {
    padding-top: 0;   
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }

}

.motetidspunkt__label {
  font-weight: normal;
  margin: 0;
  margin-bottom: 1em;
  line-height: 1.35;

  strong {
    display: block;
  }
}

.alternativsvar {
  margin-left: 2em;
  padding-left: 0;
}

.alternativsvar__bekreft {
  margin-top: 2em;
}

.alternativsvar__svar {
  display: flex;
  align-items: center;
  margin-bottom: .5em;

  &:last-child {
    margin-bottom: 0;
  }
}

.alternativsvar__tekst {
  width: 100%;

  p {
    .mixin-typo-normal();
    margin: 0;
  }
}

.alternativsvar__deltakertype {
  font-weight: 600;
}

.alternativsvar__ikon {
  width: 1em;
  margin-right: ~'calc(2rem - 1em)';
  align-self: flex-start;

  img {
    width: 1em;
    height: 1em;
  }
}

.motested {
  margin-bottom: 2em;
}

.motested__tittel {
  .mixin-typo-element();
  margin-top: 0;
  margin-bottom: .5em;
}

.nyetidspunktknapp {
  display: inline-block;
  font-family: Arial,Sans-serif;
  font-size: 0.875em;
  border-radius: .125em;
  cursor: pointer;
  letter-spacing: .0625em;
  line-height: 1;
  text-decoration: none;
  border: 2px solid #0067c5;
  color: #0067c5;
  background-color: transparent;
  padding: 0.6em;
}
