.navigasjonspanel {
    display: block;
    border: 0;
    background-color: #fff;
    padding: 1em 3em 1em 2em;
    margin-bottom: .5em             ;
    color: @FargeTekst;
    border-left: 0;
    padding-right: 3rem; 
    background-image: data-uri("../img/svg/pilVidere--graa.svg");
    background-repeat: no-repeat;
    background-position: 97% center; 
    background-size: 1rem 1rem; 
    transition: background-position ease-in-out .1s;
    transform: translate3d(0, 0, 0);

    &:hover {
        background-image: data-uri("../img/svg/pilVidere--blaa.svg");
    }

    &:focus {
        background-color: #fff;
        box-shadow: 0 0 0 3px @color-focus;
    }
}

.navigasjonspanel__meta {
    font-size: .85em;
    margin: 0;
}

.navigasjonspanel__tittel {
    font-size: 1em;
    margin: .2em 0;
}

.navigasjonspanel:hover {
    padding-left: ~"calc(2em - 6px)";
    border-left: 6px solid @FargeNavigasjonAktiv;
}

.navigasjonspanel--aktiv,
.navigasjonspanel.navigasjonspanel--aktiv:hover {
    background-color: @FargeLenke;
    border-left-color: @FargeLenke;
    color: #fff;
    background-image: data-uri("../img/svg/pilVidere--hvit.svg");

    &:focus {
        background-color: @FargeLenke;
    }
}

.navigasjonspanel:hover {
    border-color: @FargeLenke;
}

.navigasjonspaneler {
    margin: 0;
    padding: 0;
}