.nokkelopplysning {
    h2, h3, h4 {
        margin-bottom: .25em; 
        margin-top: 0; 
        .mixin-typo-etikett-liten();
        color: @gray-inactive;
    }

    p {
        margin-bottom: 1em;
    }
}