.hode-feil {
  &:before {
    background-image: url('/sykefravaer/img/svg/report_problem_triangle.svg');
    content: "";
    width: 4rem;
    height: 4rem;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    left: 50%;
    position: absolute;
    top: 0;
    background-color: transparent;
    border-radius: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
  }

}