.typo-sidetittel {
    font-family: @Profilfont;
    font-size: 30em / 16;
    font-weight: 800;
    @media(min-width: 30em) {
        font-size: 38em / 16;    
    }   
}

.typo-innholdstittel {
    font-family: @Profilfont;
    font-size: 24em / 16;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
    @media(min-width: 30em) {
        font-size: 30em / 16;    
    }
}

.typo-undertittel {
    font-family: @Profilfont;
    font-size: 20em / 16;
    font-weight: 800;       
}

.typo-systemtittel {
    font-family: @Profilfont;
    font-size: 20em / 16;
    font-weight: 600;}

.typo-etikett-stor {
    font-size: 17em / 16;
    text-transform: uppercase;
    font-family: @Profilfont;
    font-weight: 600; 
    @media(min-width: 30em) {
        font-size: 1em;    
    }
}

.typo-element {
    font-family: @Standardfont; 
    font-weight: 600; 
    font-size: 1em; 
}

.typo-etikett-liten {
    font-size: 13em / 16;
    text-transform: uppercase;
    font-weight: 400; 
    font-family: @Standardfont;
    @media(min-width: 30em) {
        font-size: 12em / 16;
    }   
}

.typo-undertekst {
    font-size: 13em / 16;
    font-family: @Standardfont;
    font-weight: 400; 

    @media(min-width: 30em) {
        font-size: 12em / 16;    
    }   
}

.typo-infotekst {
    font-size: 17em / 16;
    font-family: @Standardfont;
    font-weight: 400; 
    @media(min-width: 30em) {
        font-size: 1em;    
    }   
}

.typo-avsnitt {
    font-size: 15em / 16;
    font-family: @Standardfont;
    font-weight: 600; 
    @media(min-width: 30em) {
        font-size: 14em / 16;    
    }   
}

.typo-normal {
    font-family: @Standardfont;
    font-size: 1em;
    font-weight: 400; 
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

p:last-child {
    margin-bottom: 0;
}

.redaksjonelt {
    .typo-infotekst;
    line-height: 1.5;
}