.varselstripe {
  position: relative;
  padding-top: 3em;

  p {
    margin-top: 0;
  }
}

.varselstripe p:last-child {
  margin-bottom: 0;
}

.varselstripe__ikon {
  position: absolute;
  left: 50%; 
  top: 0;
}

.varselstripe__ikon {
  width: 2em; 
  height: 2em;
  top: 0; 
  left: 50%; 
  transform: translateX(-50%);
  position: absolute;
  display: flex;
  justify-content: center;

  img {
    align-self: center;
    width: 2em;
    height: 2em;
  }

  &:after {
    border-color: @navTekst;
  }
  
}

.varselstripe--feil .varselstripe__ikon:after {
  border-color: @advarselRoed;
}

.varselstripe--info:before {
  border-color: #FFFFFF;
}

.varselstripe--info img {
  width: 2em;
  height: 2em;
}

.varselstripe--suksess .varselstripe__ikon:after {
  border-color: @suksessGroenn;
}

.varselstripe--avbrutt:before {
  border: none; 
}

.varselstripe--avbrutt .varselstripe__ikon:after {
  border-color: @advarselRoed;
}

@media(min-width: @skjermMini) {

  .varselstripe {
    position: relative;
    padding-left: 5em;
    padding-top: 0;
  }

  .varselstripe__ikon:after {
    content: "";
    position: absolute;
    width: 1px; 
    height: 100%;
    border-width: 0;
    border-left-width: 1px;
    border-style: solid; 
    right: -1.5em;
    transform: translateX(-50%);
  }

  .varselstripe:before, .varselstripe__ikon {
    left: 0;
    top: 50%;
  }

  .varselstripe:before, .varselstripe__ikon {
    transform: translateY(-50%);
  }

}
