@import "~nav-frontend-core/less/core";
@import "~nav-frontend-lenker-style/src/lenker-style";
@import "~nav-frontend-knapper-style/src/index";
@import "~nav-frontend-paneler-style/src/mixins";
@import "~nav-frontend-typografi-style/src/index";

@import "_mixins";
@import "_lenker";
@import "_app";
@import "_antallNytt";
@import "_avstander";
@import "_contextContainer";
@import "_brodsmuler";
@import "_fleretidspunkt";
@import "_fritekst";
@import "_gridUtils";
@import "_headers";
@import "_ikoner";
@import "_illustrertInnhold";
@import "_inngangspanel";
@import "_layout";
@import "_knapperad";
@import "_lightbox";
@import "_media";
@import "_motebehovKvittering";
@import "_motelandingsside";
@import "_motestatus";
@import "_moteEpostinnhold";
@import "_moteBekreftetTidspunkt";
@import "_naermesteLedere";
@import "_navigasjon";
@import "_navigasjonselement";
@import "_navigasjonspanel";
@import "_oppfoelgingsdialog";
@import "_opplysninger";
@import "_personKort";
@import "_personopplysninger";
@import "_pdfbilde";
@import "_radiofaner";
@import "_redaksjonelt-innhold";
@import "_sidetopp";
@import "_sidetoppSpeilet";
@import "_speiling";
@import "_sykmelding";
@import "_sykmeldingArbeidsgiver";
@import "_sykmeldingMotebehovVisning";
@import "_sykmeldingOpplysninger";
@import "_sykepengersoknad";
@import "_tidslinjeBoble";
@import "_tidslinjeHendelse";
@import "_tilbakelenke";
@import "_temp_hode";
@import "_typografi";
@import "_utdragFraSykefravaeret";
@import "_utils";
@import "_statuspanel";
@import "_utvidbar_old";
@import "_digisyfonpm-komponenter";
@import "_panel";
@import "_hjelpeboble";
@import "_panelmotekvittering";

@greenLight: #63b282;
@blueLight: #c3ddf4;
@textColor: #3e3832;
@bakgrunnGraa: #efefef;
@lysGraEtikettBakgrunn: #cec9c5;

body {
  background-color: #f1f1f1;
}

.medHjelpetekst {
  display: flex;
  position: relative;
  padding-right: 2em;
}

.hjelpetekstlenke {
  color: #0067c5;
  border-bottom: 1px solid #b7b1a9;
  text-decoration: none;
}

.knapp--enten,
.knapp--standard {
  margin-right: 2em;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
.skjema__legend,
legend {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 1em;
}
