<!DOCTYPE html>
<html lang="no">
<head>
    <title>Sykefravær</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script>
        var finnMiljoStreng = function() {
            var host = window.location.host;
            var bindestrekIndex = host.indexOf('-');
            if (bindestrekIndex === -1) {
                return '';
            }
            var dotIndex = host.indexOf('.');
            return host.substring(bindestrekIndex, dotIndex);
        };

        var script = document.createElement('script');
        script.src = 'https://app' + finnMiljoStreng() + '.adeo.no/internarbeidsflatedecorator/js/head.min.js?rev=' + Date.now().toString();
        script.onload = function() {
            var DOMContentLoaded_event = document.createEvent("Event");
            DOMContentLoaded_event.initEvent("DOMContentLoaded", true, true);
            window.document.dispatchEvent(DOMContentLoaded_event);
        };
        document.head.appendChild(script);
    </script>
</head>
<body>
    <div id="header"></div>
    <div id="maincontent" class="app-syfofront side-innhold">
        <div class="app-spinner blokk-xl" aria-label="Vent litt mens siden laster"></div>
    </div>

 <script>
        window.APP_SETTINGS = {
            "REST_ROOT": "{{{restRoot}}}",
            "MOTEADMIN_REST_ROOT": "{{{moteAdminRestRoot}}}",
            "OPPFOELGINGSDIALOGREST_ROOT": "{{{oppfoelgingsdialogRestRoot}}}",
            "CONTEXTHOLDER_ROOT": "{{{contextholderRoot}}}",
            "APP_ROOT": "/sykefravaer",
            {{#enableLogging}}"LOGGING_ENABLED": {{{enableLogging}}}{{/enableLogging}}
        };
    </script>
    <script src="{{{buildRoot}}}/{{{bundleFileName}}}?rev={{{timestamp}}}"></script>

</body>
</html>