.begrensning {
	max-width: 40rem; 
	margin-left: auto;
	margin-right: auto; 
	padding-left: 1.25rem; 
	padding-right: 1.25rem; 
}

.begrensning-bred {
	max-width: 60rem; 
}

.side-header {
	margin-top: 0;
	margin-bottom: 2rem; 
	text-align: center; 
}

.panel-melding {
	text-align: center; 
}