fieldset {
    border: 0;
    padding: 0;
}

legend {
    margin-bottom: 2em;
    float: left; 
    width: 100%;
    .typo-undertittel();
}

label {
    display: block;
    margin-bottom: .25em;
}

input {
    font-size: 1em;
    padding: .45em;
    line-height: 1.2;
    box-sizing: border-box;
    border: 1px solid @FargeBorder;
    font-family: @Standardfont;
    border-radius: 1px;

    &:hover {
        border-color: @FargeLenke;
    }

    &:focus {
        box-shadow: 0 0 0 3px @FargeFokus;
        border-color: @FargeTekst;
        outline: none;
        transition: .1s border-color ease-in-out;
    }
}

.input--feil, .input--feil:hover {
    border-color: @FargeFeil;
    background-color: #fbf5f4;
}

.input--xxs {
    max-width: 2em; 
}

.input--xs {
    max-width: 4em;
}

.input--s {
    max-width: 6em;
}

.input--m {
    width: 100%;
    max-width: 12em;
}

.input--l {
    width: 100%;
    max-width: 18em;
}

.input--xxl {
    max-width: 24em;
    width: 100%;
}

.navInput {
    margin-bottom: 1em;
}

.skjema__feilmelding {
    color: @FargeFeil;
    font-style: italic;
    margin-top: .5em;
    margin-bottom: 0;
}