.typo-undertittel {
    font-weight: 400;
    font-size: 2em;
    margin-top: .5em;
    margin-bottom: .5em;
}

.typo-etikett {
    font-weight: 600;
    font-size: 1em;
    margin: .5em 0 .25em 0;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

p:last-child {
    margin-bottom: 0;
}