.motebehovKvittering {
    padding-top: .5em;
    margin-bottom: 1.25em;
    label {
        display: block;
        text-transform: uppercase;
        margin-top: .5em;
    }
    p {
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
}
.motebehovKvittering__header {
    display: flex;
    width: 100%;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    margin-bottom: 1px;
    background: @white;
    h1 {
        margin-top: .5em;
        margin-bottom: .5em;
    }
}
.behandleMotebehovKnapp {
    padding-top: 1.25em;
    border-top: 1px solid #b7b1a9;
}