.motebehovKvittering {
    padding-top: .5em;
    margin-bottom: 1.25em;
    label {
        display: block;
        text-transform: uppercase;
        margin-top: .5em;
    }
    p {
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
}
.behandleMotebehovKnapp {
    padding-top: 1.25em;
    border-top: 1px solid #b7b1a9;
}