<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Ubeskyttet</web-resource-name>
            <url-pattern>/internal/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Alt annet beskyttet</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>**</role-name>
        </auth-constraint>
    </security-constraint>

    <servlet>
        <servlet-name>isAlive</servlet-name>
        <servlet-class>no.nav.sbl.modiasyfofront.selftest.IsAliveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>isAlive</servlet-name>
        <url-pattern>/internal/isAlive</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>selftest</servlet-name>
        <servlet-class>no.nav.sbl.modiasyfofront.selftest.SelftestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selftest</servlet-name>
        <url-pattern>/internal/selftest</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>syfofront.html</welcome-file>
    </welcome-file-list>

    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html;charset=UTF-8</mime-type>
    </mime-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/syfofront.html</location>
    </error-page>

</web-app>